	body{
			padding-left: 30%;
			padding-top: 10%;
			}
			table{
			width: 600px;
			height: 300px;
			border="1px";
			border-color: white;
			cellspacing="1px"
			}
			.tsub1{
			text-align: center;
			padding-right: 30px;
			padding-left: 30px;
			background-color: #a4cfea;
			color: white;
			}
			.tsub2{
			text-align: center;
			padding-right: 30px;
			padding-left: 30px;
			background-color: #d4e8f4;
			}
			.tmain{
			padding-right: 80px;
			padding-left: 10px;
			padding-top: 5px;
			padding-bottom: 15px;
			font-size: 18px;
			color: white;
			background-color: #a4cfea;
			}